*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary{
    color:#FFFFFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    border: 0;
    padding: 18px 35px;
    margin-left: 215px;
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
}

/* header and navigation styles */
nav{
  display: flex;  
  justify-content:space-between;
  margin: 50px 200px;
}
.header{
    background-color:
    #FFF8F3;
    height: 837px;
width: 1600px;
left: 15px;
top: 0px;
border-radius: 0px;
background-image: url('../images/header_bg.png'),url(../images/developer.png);
background-repeat: no-repeat;
background-position: right bottom, left
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul {
    display: flex;
    align-items: center;
}
.text-primary{
    color:#FD6E0A;
}
/* banner styles*/
.banner{
        display: flex;
        align-items: center;
        margin: 0 200;
}
.banner-title {
 color:#181818;   
font-size: 85px;
font-weight: 700;
line-height: 116px;
letter-spacing: 0em;
margin-left: 211px;
margin-bottom:20px;


}
.banner-sub-title {
    color:#181818;
    font-size: 45px;
    font-weight: 600;
    line-height: 61px;
    margin-bottom:5px;
    margin-left: 211px;

}
.banner-description {
color:#757575;  
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
margin-bottom:30px;
margin-left: 211px;
}
/* about section styles*/
/*Main section*/

main{
    height: 550px;
    width: 1140px;
    left: 227px;
    top: 967px;
    border-radius: 10px;
    
}
.about{
    margin-top: 130px;
    margin-bottom: 30px;
    height: 550px;
    width: 1140px;
    left: nullpx;
    top: nullpx;
    border-radius: 10px;
    background-color:#FFF8F3 ;
    padding:130px 150px ;
    text-align: center;

}
.section-title{
    text-align:center;
    margin-bottom:30px;
    margin-top: 130px;

}
.section-description{
    color:#757575;
    margin-top: 30px;
    margin-bottom:30px;
    font-size: 18px;
    font-weight:400;
    letter-spacing:0em;
    text-align: center;
}
.about-info-container{
    margin-top: 30px;
    display: flex;
    text-align: center;
   justify-content: space-around;
}
.about-info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight:800px;
    font-size: 20px;
    color: #474747;
}
.skill{
    height: 377px;
    width: 267px;
    left: nullpx;
    top: nullpx;
    border-radius: 5px;
    padding: 30px;
    box-shadow:0px 6px 50px rgba(0, 0, 0, 0.06);
    
  

}
.skills-container{
    display: flex;
    height: 377px;
    width: 267px;
    left: nullpx;
    top: nullpx;
    border-radius: 5px;
    background-color:#FFFFFF;
    gap:24px;
    margin-bottom: 130px;

}
.skill-title{
    font-size: 20px;
    color: #181818;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 30px;
}
.skill-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    height: 196px;
    width: 201px;
    left: 263px;
    top: 2016px;
    border-radius: nullpx;
    margin-top: 20px;
}
 /*resume styles*/
 .resume-content{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    gap: 20px;

 }

 .resume-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;
 }
 .degree-position{
    color:#474747;
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px;

 }

 .institution{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
 }
 .resume-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;

 }
 .resume-button {
    height: 64px;
    width: 200px;
    left: 700px;
    top: 3299px;
    text-align: center;
 }

.contact{
        display:flex;
        gap:100px;
        background-color:
        #FFF8F3;
        height: 780px;
        width: 1600px;
        padding: 130px 230px;
}
.contact-title{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
}
.contact-description{
color: #474747; 
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
margin-top: 20px;
margin-bottom: 30px;
}
.form{
    display: grid;

}